@font-face {
  font-family: Bariol;
  src: url('assets/fonts/bariol-regular/Bariol_Regular_0.otf') format("opentype");
}

@font-face {
  font-family: Bebas;
  src: url('assets/fonts/bebas/Bebas-Regular.otf') format("opentype");
}

@font-face {
  font-family: BariolBold;
  src: url('assets/fonts/bariol-bold/Bariol_Bold.otf') format("opentype");
}