.footer {
   width: 100%;
   display: flex;
   justify-content: center;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   &__link {
      color: #15484c;
      font-weight: 700;
      padding: 10px 30px;
      &:hover {
         text-decoration: none;
         color: rgb(240, 134, 99);
         transition: color 0.2s linear;
       }
   }
}