<section class="delevery-section" id="delevery">
   <div class="delevery-section__conent-wrapper">
      <div class="delevery-section__content">
         <div class="delevery-section__desctiption">
               <div class="action-block__container">
                  <h1>Your supermarket</h1>
                  <p class="delevery-section__text">Shop provides you with cheap food for free and in time with the scooter's house.</p>
                  <div class="action-block__button">
                     <button class="btn btn_accent" type="button">
                        <span>Sign up now</span>
                     </button>
                  </div>
               </div>
         </div>
         <div class="delevery-section__central-image">
            <img class="delevery-section__square" src="../../../../../assets/images/delevery/square-green.png" alt="Square green">
            <img class="delevery-section__phone" src="../../../../../assets/images/delevery/phone_top.png" alt="Product image">
         </div>
         <div class="label delevery-section__label">
            <span class="label__title">Free shipping</span>
            <div class="label__content"></div>
         </div>
      </div>
   </div>
   <div style="right:0;top:0" class="corner-image main-section__corner-image">
      <img src="./../../../../assets/images/delevery/stich_berries.png" alt="Berries images should be here">
   </div>
</section>

