<section class="section section_primary" id="ourWork">
  <div class="section__content-wrapper">
    <div class="section__content">
      <div class="row row_align-center">
        <div class="col-6 col-md-12">
          <h2>Shop sit amet <br>Quia, fugit officiis</h2>
          <div class="divider divider_dark">
            <span class="divider__line"></span>
          </div>
          <p class="text-bold">SHOP r sit amet consectetur adipisicing elit. S Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero expedita iure </p>
          <div class="row">
            <p class="col-6 col-sm-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, fugit officiis tempore praesentium veritatis quasi. Mollitia aspernatur voluptates laborum nesciunt laudantium explicabo eaque obcaecati, aut debitis consequuntur quibusdam doloremque dolorem.</p>
            <p class="col-6 col-sm-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. S Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero expedita iure nostrum rem nulla incidunt ipsam ab voluptate consequatur minima. Nam mollitia temporibus placeat vero vitae debitis facilis! Nostrum, ducimus.</p>
          </div>
        </div>
        <div class="col-6 col-md-12">
          <div class="action-block__container action-block">
            <div class="section__image">
              <img src="../../../../../assets/images/work/truck.png" alt="Car image">
            </div>
            <div class="action-block__button">
                <app-button></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
