<header>
  <nav class="global-nav global-nav_default  navbar navbar_default">
      <div class="global-nav__mobile-controls">
          <div class="global-nav__burger burger">
            <span class="burger__raw"></span>
            <span class="burger__raw"></span>
          </div>
          <a href="#" class="logo navbar__logo_mobile">
            <img src="../../../../assets/images/logo/logo-main.png" alt="">
          </a>
        </div>
    <ul class="global-nav__menu">
      <li class="global-nav__item">
        <a href="" class="global-nav__link">
          <span>Link 1</span>
        </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__link">
          <span>Link 2</span>
        </a>
      </li>
      <li class="global-nav__item global-nav__link_with_image">
          <a href="#" class="global-nav__link navbar__logo">
              <img src="../../../../assets/images/logo/logo-main.png" alt="">
          </a>
        </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__link">
          <span>Link 3</span>
        </a>
      </li>
      <li class="global-nav__item">
        <a href="" class="global-nav__link">
          <span>Link 4</span>
        </a>
      </li>
    </ul>

  </nav>
</header>
